name: Trigger Deploy
on:
  push:
    branches: ["main"]

jobs:
  call-workflow:
    uses: medaqueno/k8s-lab-gitops/.github/workflows/ci-cd-engine.yml@main
    with:
      app_name: "python-api-1"
    secrets:
      GIT_OPS_SSH_KEY: ${{ secrets.GIT_OPS_SSH_KEY }}
