name: CI/CD Build and GitOps Update

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      short_sha: ${{ steps.vars.outputs.sha_short }} # Corregido: era . no :

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set short git commit SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/medaqueno/k8s-lab-apps-python-1:${{ steps.vars.outputs.sha_short }}
            ghcr.io/medaqueno/k8s-lab-apps-python-1:latest

  update-gitops:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: medaqueno/k8s-lab-gitops
          ssh-key: ${{ secrets.GIT_OPS_SSH_KEY }}

      - name: Update Kubernetes resources
        run: |
          cd base/app-python-api-1
          # Usamos el nombre exacto de la imagen para que kustomize la encuentre
          kustomize edit set image ghcr.io/medaqueno/k8s-lab-apps-python-1=ghcr.io/medaqueno/k8s-lab-apps-python-1:${{ needs.build-and-push.outputs.short_sha }}

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update image to ${{ needs.build-and-push.outputs.short_sha }} [skip ci]"
          git push
